<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Login | Code Portal</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class="auth-container">
    <h2>Login</h2>

    {% with messages = get_flashed_messages() %}
      {% if messages %}
      <div class="flash-msg">
        {% for message in messages %}
          <p style="color:red;">{{ message }}</p>
        {% endfor %}
      </div>
      {% endif %}
    {% endwith %}

    <form method="POST">
      <input type="text" name="username" placeholder="Username" required><br><br>
      <input type="password" name="password" placeholder="Password" required><br><br>
      <button type="submit" class="submit-btn">Login</button>
    </form>

    <p>Don't have an account? <a href="{{ url_for('register') }}">Register here</a></p>
  </div>
  <script>
  document.addEventListener("visibilitychange", function () {
    if (document.visibilityState === "visible") {
      location.reload();
    }
  });
</script>
</body>
</html>
